.info-client {
    background-color: #006769;
    border-radius: 15px;
    color: #F6FB7A;
    padding: 15px;
}

.user-name {
    font-size: 40px;
    font-weight: bold;
    margin-left: 30px;
}

.fav-places {
    font-size: 30px;
    margin-top: 10px;
    margin-left: 40px;

}

.edit-btn {
    background-color: none;
    margin-top: -20px;
    color:#F6FB7A;

}
.edit-btn:hover {
    transition: 0.4s;
    background-color: #F6995c;
    color: #006769;
}


.logoAvocado {
    max-width: 120px;
    float: right;
    margin-top: 16px;
    
}
.profile-img{
    border: 1px solid black;
    border-radius: 100px;
    max-width: 150px;
    float: left;
    margin-top: 16px;
    background-color: #ffffff;

}

.rollCards {
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    margin-left: 30px;
    margin-top: 60px;
}
  
.rollCards::-webkit-scrollbar {
    height: 10px;
    background-color: #ffffff;
}
  
.rollCards::-webkit-scrollbar-thumb {
    background-color: #006769;
    border-radius: 10px;
}
  
.rollCards::-webkit-scrollbar-thumb:hover {
    cursor: grab;
}
  
.baseCard {
    min-width: 300px;
    display: flex;
    flex-direction: column;
}
  
.btnCards {
    color: #F6FB7A;
    background-color: #006769;
   font-weight: 500;
}
  
.btnCards:hover {
    transition: 0.4s;
    background-color: #F6995c;
    color: #006769;
}
