.info-client {
    background-color: #006769;
    border-radius: 15px;
    color: #F6FB7A;
    padding: 15px;
}

.user-name {
    font-size: 40px;
    font-weight: bold;
    margin-left: 30px;
}

.fav-places {
    font-size: 30px;
    margin-top: 10px;
    margin-left: 40px;

}

.premium-icon {
    font-size: 50px;
    margin-left: 10px;
    vertical-align: text-bottom;
}

.edit-btn {
    background-color: none;
    margin-top: -20px;
    color:#F6FB7A;

}
.publish-btn {
    background-color: #F6FB7A;
    margin-top: -20px;
    color:#F6995c;
    margin-left:auto;
}

.edit-btn:hover, .publish-btn:hover, .add-new-product-btn:hover {
    transition: 0.4s;
    background-color: #F6995c;
    color: #006769;
}

.add-new-product-btn {
    background-color: #F6FB7A;
    margin-top: -20px;
    color:#F6995c;
    float: right;

}

 
.logoAvocado {
    max-width: 120px;
    float: right;
    margin-top: 16px;
    
}
.profile-img{
    border: 1px solid black;
    border-radius: 100px;
    max-width: 150px;
    float: left;
    margin-top: 16px;
    background-color: #ffffff;

}

.business-pics {
    border-radius: 15px;
    border: 1px solid black;
    max-width: 200px;
    background-color: #ffffff;
}

.shop-pics{
    border-radius: 15px;
    border: 1px solid black;
    max-width: 180px;
    background-color: #ffffff;
}

.rollCards {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-left: 30px;
    margin-top: 60px;
    background-color: #b4e380;
    border-radius: 15px;
}
  
.rollCards::-webkit-scrollbar {
    height: 10px;
    background-color: #ffffff;
}
  
.rollCards::-webkit-scrollbar-thumb {
    background-color: #006769;
    border-radius: 10px;
}
  
.rollCards::-webkit-scrollbar-thumb:hover {
    cursor: grab;
}
  
.baseCard {
    min-width: 300px;
    display: flex;
    flex-direction: column;
}

.shopProduct {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    background-color: #b4e380;
    border-radius: 15px;
    width: 30px;
    height: 30px;
}
  
.btnCards {
    color: #006769;
    background-color: #F6FB7A;
    font-weight: 500;
    
}
  
.btnCards:hover {
    transition: 0.4s;
    background-color: #F6995c;
    color: #006769;
}

.current-offers {
    background-color: #b4e380;
    color: black;
    margin-top: 20px;
    height: 70px;
    border-radius: 15px;
}

.add-new-offers {
    background-color: #b4e380;
    color: black;
    margin-top: 20px;
    height: 90px;
    border-radius: 15px;

}

.shop{
    background-color: #b4e380;
    color: black;
    margin-top: 20px;
    height: 20rem;
    border-radius: 15px;

}