.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Modal content */
.modal-content {
    background-color: #006769;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    width: fit-content;
    height: fit-content;
}

/* Close button */
.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

.botonEdit {
    background-color: #F6FB7A;
    color: #006769;
    font-weight: 500;
    margin-right: auto;
    margin-top: 10px;
}

.botonEdit:hover {
    background-color: #F6995c;
    color: white;
    transition: 0.4s;
}