.isRelative {
    position: relative;
}

.isRelative input {
    width: 100%;
    padding-right: 40px;
    height: 40px;
    box-sizing: border-box;
    font-size: 16px;
}

.isRelative .showPasswordIcon {
    position: absolute;
    right: 10px;
    top: 15%;
    transform: translateY(-50%);
    font-size: 20px;
    color: black;

}

.signUp-card-login {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 55%;
}

.showPasswordIcon {
    display: block;
    user-select: none;
    bottom: 13.8rem;
    right: 35.6rem;
}

.modalIsRelative {
    position: relative;
}


.modalTwoIsRelative {
    position: relative;
}

.modalTwoShowPasswordIcon {
    position: absolute;
    display: block;
    user-select: none;
    bottom: 1.5rem;
    right: 2rem;
}

.loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.loading-gif {
    min-width: 170px;
    min-height: 170px;
}

.try-premium-login {
    color: #006769;
    font-weight: bold;
    margin-left: 3px;
    margin-top: 3px;
    margin-bottom: -6px;
}

.log_in_text {
    color: #006769;

}

.reset-password-login {
    color: #006769;
    font-weight: bold;
}

.btn-question-reset-password {
    color: #006769;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
    background-color: #b4e380;

}

.btn-reset-password {
    background-color: #F6995C;
    color: #006769;
    border-radius: 5px;
    border: none;
    font-weight: bold;

}

.btn-modal-reset-password {
    background-color: #f6fb7a;
    color: black;
    float: right;
    font-weight: bold;
    margin-right: 10px;
    margin-top: 10px;
}

.modal.show {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1050;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: 100vh;

}

.modal-dialog {
    width: 100%;
    padding: 20px;
    margin-top: 120px;
    border-radius: 10px;
}

.modal-content {
    max-width: 800px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 0;
    height: 0;

}