.text-body-emphasis {
    --bs-text-opacity: 1;
    color: #006769 !important;
}
.border {
    border: var(--bs-border-width) var(--bs-border-style) #000000 !important;
}

.usuario_boton-send {
        color: #F6FB7A;
        background-color: #006769;
        border-radius: 15px;
        width: 120px;
        height: 40px;
        margin-left: 15px;
}

.usuario_boton-add {
    color: #006769;
    background-color: #F6FB7A;
    border-radius: 15px;
    width: 120px;
    height: 40px;
    margin-left: 15px;
}

#usuario_h1-favoritos {
    color:#006769;
    margin-top:50px;
    margin-bottom: 50px; 
}
#usuario_favoritos-cards {
    padding: 30px;
    background-color: #f7fcb9;
    margin-bottom: 50px;
}
.usuario_boton-rate {
    color: #006769;
    background-color: #F6FB7A;
    border-radius: 15px;
    width: 80px;
    height: 40px;
    margin-left: 15px;
}

#usuario_blog-cards {
    color: #006769;
    background-color: #e5fdd4;
    padding: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
}
#usuario_blog-h1 {
    color:#006769;
    margin-top:50px;
    margin-bottom: 50px;
}
#usuario_h1-form {
    background-color:#f7fcb9;
    color:#006769;
    margin-top:50px;
    margin-bottom: 50px;
}