.rollCards {
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    margin-left: 30px;
    margin-top: 60px;
}

.baseCard {
    min-width: 300px;
    display: flex;
    flex-direction: column;
}

.btnCards {
    color: #F6FB7A;
    background-color: #006769;
    font-weight: 500;
    margin-left: 85px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.btnCards:hover {
    transition: 0.4s;
    background-color: #F6995c;
    color: #006769;
}

.card-title {
    margin-top: 31px;
    margin-left: 29px;

}

.card-title-category {
    margin-top: 31px;
    margin-left: 35px;
    font-size: 36px;

}

.card-info {
    margin-left: 179px;
    margin-top: -94px;
}

.category {
    margin-left: 179px;
    margin-top: -94px;
    font-size: 25px;
    font-weight: 300;
}

.imgReview {
    border: 1px solid black;
    max-width: 200px;
    border-radius: 50%;
    margin-top: 20px;
}